services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: ethos_db
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    container_name: nextjs_app
    build:
      context: .
      dockerfile: ${DOCKERFILE}
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://ethos_db:secret@postgres:5432/mydb"
    depends_on:
      - postgres
    # ❌ Remover volumes no modo produção
    # volumes:
    #   - .:/app
    #   - /app/node_modules

volumes:
  postgres_data:
